<Layouts.app flash={@flash}>
  <%= for album <- @albums do %>
    <StrudelShowcaseAppWeb.MusicAlbum.render_album
      album_cover={album.cover}
      album_title={album.title}
      album_artist={album.artist}
      release_date={album.release_date}
    />
  <% end %>>
</Layouts.app>
