<StrudelShowcaseAppWeb.StrudelCore.render_repl path="vengence-is-mine" hidden={true} />
<aside class="music-player">
  <p>Want to enjoy some classic Shadow the Hedgehog background music that I wrote with code?</p>
  <button class="shadow-button" id="play">
    Yes
  </button>
  <button class="shadow-button" id="stop">No</button>
</aside>
