:root {
	--app-background: #fafafa;
	--app-text-color: black;

	/* shadow the hedgehog red */
	--accent-color: rgb(220, 0, 0);

	--link-color: var(--accent-color);
}

body {
	background-color: var(--app-background);
	color: var(--app-text-color);
}

a {
	text-decoration: none;
	color: var(--link-color);

	&:hover {
		text-decoration: underline;
	}

	&:visited {
		color: var(--link-color);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--app-background: black;
		--app-text-color: white;
	}

}
