:root {
	--app-background: #fafafa;
	--app-text-color: black;

	/* shadow the hedgehog red */
	--accent-color: rgb(220, 0, 0);

	--link-color: var(--accent-color);
	--border-radius: 0.5rem;
	--auto-column-size: 250px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--app-background);
	color: var(--app-text-color);
	max-width: 1150px;
	padding: 2em;
	margin: auto;
}

h1,
h2 {
	margin-block: 0.5em;
}

a {
	color: var(--app-text-color);

	&:not(.collection-link) {
		color: var(--link-color);
	}

	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:visited {
		color: var(--app-text-color);

		&:not(.collection-link) {
			color: var(--link-color);
		}
	}
}

p {
	font-size: 1.15em;
	margin-bottom: 0.75em;
}

i {
	font-weight: bold;
}

header {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	gap: 1rem;

	& img {
		width: 100%;
		max-width: 5em;
	}

	& .logo {
		display: flex;
		gap: 1rem;
		align-items: center;

	}

	& .header-text>div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		transform: translateY(-4px);
	}

	& .title {
		font-size: 1.25em;
		font-weight: 700;
	}

	& .tagline {
		font-size: 0.75em;
	}
}

nav {
	--auto-column-size: 250px;
	height: fit-content;

	&>a {
		text-decoration: none;
		color: var(--app-text-color) !important;
		padding: 1rem 2rem;

		&:hover {
			text-decoration: underline;
			background-color: var(--accent-color);
			color: white;
			background-image: url(/images/black-arms-resized.png);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

		&:visited {
			color: var(--app-text-color)
		}
	}


}

.songs-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	align-items: start;
	justify-content: start;
}

.songlinks {
	display: grid;
	gap: 1rem;
	border: 1px solid var(--app-text-color);
	padding: 1rem;
	border-radius: var(--border-radius);
}

.strudel-desc {
	display: grid;
	max-width: 100ch;
	gap: 1.5em;


	margin-bottom: 1em;
}

.box-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--auto-column-size), 1fr));

}

.control-wrapper {
	max-width: 50ch;
	padding: 1rem;
	border: 1px solid var(--app-text-color);
	border-radius: var(--border-radius);
	margin-block: 1em;
}

.audio-controls {
	padding-block: 1rem;
	display: flex;
	gap: 2rem;

}

.shadow-button {
	padding-inline: 1rem;
	padding-block: 0.5rem;
	color: white;
	background: var(--accent-color);
	border: none;
	border-radius: var(--border-radius);

	&:hover {
		cursor: pointer;
		background-image: url(/images/black-arms-resized.png);
		background-size: cover;
	}

}

/*
 * Music Collection UI
 */
.collection {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	padding: 1rem;
}

.collection-link {
	justify-self: center;

	&>* {
		text-align: center;
	}

	& .cd-wrapper {
		margin-inline: auto;
	}
}

.album {

	display: grid;
	justify-content: start;
	gap: 0;
	/* width: fit-content; */
	padding: 1rem;
	/* border-radius: 5px; */
	border: 1px solid var(--text);
	position: relative;


	& div>* {
		margin: 0;
	}

}

.cd-wrapper {
	position: relative;
	width: 250px;
	aspect-ratio: 1/1;
	perspective: 1000px;
	margin-block: 2em;

	&:hover {
		& .cd-case {
			display: none;
			border: none;
		}

		& .cd-cover {
			transform: rotateY(0deg);

			&::before,
			&::after {
				display: none;
			}
		}

	}
}

.cd-case {
	border-left: 2px solid var(--app-text-color);
	position: absolute;
	inset: 0;
	/* transform-style: flat; */
	/* perspective: 1000px; */
	transform: translateX(-10px) rotateY(45deg);
	z-index: -1;
	/* transform: rotateY(-110deg); */


}

.cd-cover {
	position: absolute;
	inset: 0;
	border: 2px solid var(--app-text-color);
	background: var(--app-background);
	transform: rotateY(45deg);
	z-index: 2;


	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 15px;
		height: 2px;
		z-index: 10;
		background: var(--app-text-color);
	}

	&::before {
		top: -2px;
		left: -15px;
	}

	&::after {
		bottom: -2px;
		left: -15px;
	}

	& img {
		width: 100%;
		object-fit: cover;
		margin-bottom: 1em;
	}

}

#remaining {
	display: grid;
	max-width: fit-content;
	margin-inline: auto;
	padding: 1rem;
	border: 1px solid var(--accent-color);
}

.timer-button {
	border-radius: 0;
	padding: 0.75em;
}

.timer-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: fit-content;
	margin: auto;
	gap: 1rem;
}

table {
	border-collapse: collapse;
}

td,
th {
	border-bottom: 1px solid var(--app-text-color);
	padding: 1em;
	text-align: left;
}

.breadcrumbs {
	display: flex;
	gap: 1rem;
	align-items: center;

	& :not(:last-child)::after {
		content: ">";
		margin-left: 1rem;
		margin-right: 0.5rem;
	}
}

input[type="text"] {
	padding: 0.5rem 1rem;
	font-size: 1rem;
}

.form-control {
	display: grid;
	padding-block: 0.75rem;

	& label {
		font-size: 0.75rem;
	}
}

/*
 * Media Queries
 */
@media screen and (width > 500px) {
	.collection {
		grid-template-columns: repeat(3, 1fr);
	}

	nav {
		/* it does not wrap correctly without this */
		--auto-column-size: 100px;
		max-width: 75ch;
		justify-content: end;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--app-background: black;
		--app-text-color: white;
	}

}
