:root {
	--app-background: #fafafa;
	--app-text-color: black;

	/* shadow the hedgehog red */
	--accent-color: rgb(220, 0, 0);

	--link-color: var(--accent-color);
}

*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--app-background);
	color: var(--app-text-color);
	max-width: 1269px;
	margin: 1em auto;
}

h1 {
	margin-block: 0.5em;
}

a {
	text-decoration: none;
	color: var(--link-color);

	&:hover {
		text-decoration: underline;
	}

	&:visited {
		color: var(--link-color);
	}
}

header {
	display: flex;
	gap: 1rem;
	& img {
		width: 100%;
		max-width: 5em;
	}
	& div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		transform: translateY(-4px);
	}
	& .title {
		font-size: 1.25em;
		font-weight: 700;
	}
	& .tagline {
		font-size: 0.75em;
	}
}

nav {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;

	& > a {
		text-decoration: none;
		color: var(--app-text-color);
		padding: 1rem 2rem;
		
		&:hover {
			text-decoration: none;
			background: var(--accent-color);
			color: white;
		}
		&:visited {
			color: var(--app-text-color)
		}
	}


}

.songlinks {
	display: grid;
	gap: 1rem;
}




@media (prefers-color-scheme: dark) {
	:root {
		--app-background: black;
		--app-text-color: white;
	}

}
